<div  class="col-md-12 home">
    <div class="col-md-8" style="margin-right: 12px; background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0.9), rgba(200, 200, 200, 0.3));">
        <h1>Welcome to the Monty Hall Problem game!</h1>
        <p >In
            this classic probability puzzle,<br>
            you'll have the chance to win a
            prize behind one of three doors.<br>
            Can you beat the odds and choose the right door?
        </p>
    </div>
    <div class="col-md-5">
        <br>
        <button routerLink="/monty-hall">Let's Play!</button>
    </div>
    </div>
